.Interests {
    width: 100%;
    height: 40%;
    color: white;

    .interestsWrapper {
        background-color: #444abe;
        padding: 4%;
    }

    .interestsHeader {
        margin-left: 15px;
    }

    .interestsContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px 15px;

        .interestsItem {
            flex: 20%;
            text-align: center;
            margin-top: 20px;
        }
    }

    @media (max-width: 800px) {
        .interestsContent {
          flex-direction: column;
        }
    }
}