.MyProjects {
    width: 100%;
    height: 40%;
    color: white;

    .projectsWrapper {
        background-color: #444abe;
        padding: 4%;

        .projectsHeader {
            margin-left: 15px;
        }

        .projectsContent {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 20px 15px;

            .projectsItem {
                flex: 20%;
                text-align: center;
                margin-top: 20px;

                .cog {
                    transition: transform 3s ease-in-out;
                }

                .cog:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }
}