.intro {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;

    .greetings {
        flex: 1;
        margin-left: 5%;
        //vertical-align: middle;
        border-left: 2rem solid #444abe;
        border-radius: 50%;
        padding: 6%;
        color:white;

        .wrapper {
            font-size: 120%;
        }
    }

    .profilePicture {
        flex: 1;

        img {
            display: block;
            margin: 2rem auto;
            width: 20rem;
            height: auto;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 8px 8px #444abe;
        }
    }
}