.intro {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    .greetings {
        flex: 1;
        margin-left: 5%;
        vertical-align: middle;
        border-left: 2rem solid #444abe;
        border-radius: 50%;
        padding: 6%;

        .wrapper {
            margin-left: 5%;
            font-size: 120%;
        }
    }

    .profilePicture {
        flex: 1;

        img {
            display: block;
            margin: auto;
            width: 20rem;
            height: auto;
        }
    }
}