.intro {
    display: flex;
    width: 100%;
    height: 50%;

    .greetings {
        flex: 1;
        margin: 2% 5% 15% 5%;
        //background: #444abe;
        border-left: 50px solid #444abe;
        border-radius: 50%;

        .wrapper {
            padding: 12%;
        }
    }

    .profilePicture {
        flex: 1;

        img {
            width: 60%;
            height: auto;
            padding: 5% 20% 0;
            border-radius: 40%;
        }
    }
}